html {
  font-size: 16px; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

header {
  height: 100px;
  background: #0000FF;
  color: #FFFFFF;
  margin-bottom: 10px;
  padding: 10px; }

.wrapper {
  background: #FFFFFF;
  margin: 0 auto;
  max-width: 900px; }

nav {
  text-align: center; }
  nav ul, nav li {
    padding: 0; }
  nav li {
    background: #808080; }
  nav a {
    text-decoration: none;
    color: #FFFFFF; }
    nav a:hover {
      color: #FFFF00; }

.first-row {
  height: 100px;
  margin-bottom: 10px;
  padding: 10px; }

.first-row .first {
  background: #FFFF00;
  height: 100%; }

.first-row .second {
  height: 100%; }

.first-row .second div {
  background: #FF7F00;
  height: 100%; }

.pic-gallery div {
  background: #EE82EE;
  height: 100%;
  margin-bottom: 10px;
  padding: 10px; }

.content-bar div {
  background: #00FF00;
  height: 100%;
  margin-bottom: 10px;
  padding: 10px; }

footer {
  height: 100px;
  background: #0000FF;
  color: #FFFFFF;
  margin-top: 10px;
  padding: 10px;
  clear: both; }

header {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }
  header .logo {
    width: 7.3913%;
    float: left;
    margin-right: 4.34783%;
    height: image-height("./images/nttlogo.png");
    width: image-width("./images/nttlogo.png"); }
  header h1 {
    width: 13.04348%;
    float: right;
    margin-right: 0; }

.nav {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }

.wrapper {
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(102, 85, 102, 0.25), rgba(143, 121, 143, 0.25) 50%, transparent 50%);
  background-size: 8.69565%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top; }
  .wrapper:after {
    content: " ";
    display: block;
    clear: both; }

.nav-item {
  width: 25%;
  float: left; }

.first-row {
  clear: both; }
  .first-row .first {
    width: 30.43478%;
    float: left;
    margin-right: 4.34783%; }
  .first-row .second {
    width: 65.21739%;
    float: right;
    margin-right: 0; }
    .first-row .second div:nth-child(1) {
      width: 20%;
      float: left;
      margin-right: 6.66667%; }
    .first-row .second div:nth-child(2) {
      width: 20%;
      float: left;
      margin-right: 6.66667%; }
    .first-row .second div:nth-child(3) {
      width: 20%;
      float: left;
      margin-right: 6.66667%; }
    .first-row .second div:nth-child(4) {
      width: 20%;
      float: right;
      margin-right: 0; }
    .first-row .second div:nth-child(5) {
      width: 20%;
      float: right;
      margin-right: 0; }

.pic-gallery {
  padding: 4.34783%;
  padding: 0 10px; }
  .pic-gallery div {
    width: 13.04348%;
    float: left; }
    .pic-gallery div:nth-child(6n + 1) {
      margin-left: 0;
      margin-right: -100%;
      clear: both;
      margin-left: 0; }
    .pic-gallery div:nth-child(6n + 2) {
      margin-left: 17.3913%;
      margin-right: -100%;
      clear: none; }
    .pic-gallery div:nth-child(6n + 3) {
      margin-left: 34.78261%;
      margin-right: -100%;
      clear: none; }
    .pic-gallery div:nth-child(6n + 4) {
      margin-left: 52.17391%;
      margin-right: -100%;
      clear: none; }
    .pic-gallery div:nth-child(6n + 5) {
      margin-left: 69.56522%;
      margin-right: -100%;
      clear: none; }
    .pic-gallery div:nth-child(6n + 6) {
      margin-left: 86.95652%;
      margin-right: -100%;
      clear: none; }
  .pic-gallery div:nth-child(5) {
    float: right;
    margin-right: 0; }

.content-bar {
  padding: 0 10px;
  margin-top: 4.34783%; }
  .content-bar div:nth-child(1) {
    width: 47.82609%;
    float: left;
    margin-right: 4.34783%;
    padding-left: 1.5em;
    padding-right: 1.5em; }
  .content-bar div:nth-child(2) {
    width: 47.82609%;
    float: right;
    margin-right: 0; }

/*# sourceMappingURL=style.css.map */
